[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
astroid = "==2.4.2"
bs4 = "==0.0.1"
certifi = "==2020.4.5.2"
chardet = "==3.0.4"
colorama = "==0.4.3"
decorator = "==4.4.2"
filetype = "==1.0.7"
idna = "==2.9"
isort = "==4.3.21"
lazy-object-proxy = "==1.4.3"
mccabe = "==0.6.1"
numpy = "==1.19.3"
pandas = "==1.0.4"
pylint = "==2.5.3"
pyperclip = "==1.8.0"
python-dateutil = "==2.8.1"
pytz = "==2020.1"
requests = "==2.23.0"
requests-toolbelt = "==0.9.1"
retrying = "==1.3.3"
selenium = "==3.141.0"
six = "==1.15.0"
toml = "==0.10.1"
typed-ast = "==1.4.1"
urllib3 = "==1.25.9"
wrapt = "==1.12.1"
xmlrunner = "==1.7.7"
xlrd = "==1.2.0"
airtest = "==1.2.4"
pocoui = "==1.0.85"
py4j = "==0.10.6"
unittest-xml-reporting = "==2.1.0"
facebook-wda = "*"
MouseInfo = "==0.1.3"
PyAutoGUI = "==0.9.50"
PyGetWindow = "==0.0.8"
PyMsgBox = "==1.0.8"
PyRect = "==0.1.4"
PyScreeze = "==0.1.26"
PyYAML = "==5.3.1"
OpenCC = "==1.1.1"
pytweening = "==1.0.3"

[requires]
python_version = "3.7"
